<%- server.viewManager.render("head.ejs", locals); %>
<body>
	<script>
		window.ROOMID = "<%=roomID%>";
		window.SOCKET = io();
		window.SOCKET.on("connect", () => {
			let username = window.localStorage.getItem("username") || prompt("Enter your username");
			window.localStorage.setItem("username", username);
			window.SOCKET.emit("join room", window.ROOMID, window.localStorage.getItem("username"));
		});
	</script>
	<div id="RoomManagementContainer"></div>
	<div id="PlayerListContainer">
		<div>Players in the room #<%=roomID%>:</div>
		<div id="PlayerList"></div>
	</div>
	<script src="/js/playerList.js"></script>
	<div id="ControlsContainer">
		<button id="UpdateUsernameButton" class="ms-button ms-fullwidth">Update Username</button>
	</div>
	<script src="/js/userControl.js"></script>
	<div id="ChatContainer">
		<div id="ChatMessages"></div>
		<input id="ChatInput" type="text" placeholder="Hit Enter to send...">
	</div>
	<script src="/js/chat.js"></script>

	<div id="TargetDrawingContainer"></div>
	<div id="DrawingContainer"></div>

</body>