<%- server.viewManager.render("head.ejs", locals); %>
<body>
	<div class="ms-hero">
		<div class="ms-hero-body">
			<h1 class="ms-hero-title">Box Versus!</h1>
			<div class="ms-hero-subtitle">
				<h3>Compare your Melty Blood Actress Again Current Code hurtbox/hitbox knowledge!</h3>
			</div>
			<div class="ms-hero-content">
				<p>Create or join a room below.</p>
			</div>
		</div>
	</div>

	<div class="container ms-text-center mt-5">
		<button id="CreateRoomButton" class="ms-button ms-large ms-primary ms-rounded">Create room</button>
		<button id="JoinRoomButton" class="ms-button ms-large ms-primary ms-rounded">Join room</button>
	</div>

	<div id="RoomSetupContainer">
		<label for="RoomRoundDuration">Round duration (seconds):</label>
		<input id="RoomRoundDuration" type="number" value="30">
	</div>
</body>
<script src="js/index.js"></script>