#TimerContainer {
	position: absolute;
	left: 10px;
	top: 5px;
}
#Timer {
	font-family: monospace;
	font-size: 4rem;
}
#TimeOverlay {
	font-size: 7rem;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.65);
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 1s;
	user-select: none;
}

#DrawingContainer {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	z-index: 100;
	position: relative;
}
#DrawingContainer canvas {
	margin: 10px auto;
	margin-top: 0;
	border-radius: 5px;
	position: absolute;
	image-rendering: pixelated;
	left: 0;
	right: 0;
	user-select: none;
}
#DrawingBGCanvas {
	background: #5a6585;
}
#DrawingBoxesCanvas {
}

#ControlsContainer {
	position: absolute;
	width: 200px;
	right: 10px;
	bottom: 5px;
	text-align: right;
	margin-right: 2px;
	z-index: 50;
}

#PlayerListContainer {
	position: absolute;
	width: 300px;
	right: 10px;
	top: 10px;
	text-align: right;
}
#PlayerList > div.ready {
	color: lime;
}

#PlayerList > div.done::after {
	content: " ✔️";
}
#PlayerList > div.submitted::after {
	content: " ✅";
}

#ChatContainer {
	position: absolute;
	width: 300px;
	height: 400px;
	left: 10px;
	bottom: 5px;
}
#ChatContainer #ChatMessages {
	overflow-y: auto;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 40px;
	display: inline-block;
	max-width: 100%;
	word-break: break-word;
	scroll-behavior: smooth;
	border: 2px solid rgba(var(--default-border-color), 1);
	border-bottom: none;
	border-radius: var(--default-border-radius);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#ChatMessages br {
	clear: both;
}
#ChatContainer #ChatMessages::-webkit-scrollbar
{
	display: none;
}
#ChatContainer #ChatInput {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
#ChatContainer .message {
	margin: 3px;
	background: rgb(var(--secondary-bg-color));
	border-radius: 5px;
	padding: 3px 5px;
	display: inline-block;
}
#ChatContainer .message.player {
	background: rgb(var(--action-bg-color));
	float: left;
	border-top-left-radius: 0;
	border-top-right-radius: 5px;
}
#ChatContainer .message.player.you {
	background: rgb(var(--primary-bg-color));
	float: right;
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
}
#ChatContainer .message.server {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	inline-size: fit-content;
}
#ChatContainer .message.player .date::before {
	content: "[";
}
#ChatContainer .message.player .date::after {
	content: "] ";
}
#ChatContainer .message.player .username::after {
	content: ": \A";
	white-space: pre;
}
#ChatContainer .message.server {
	text-align: center;
}